body {
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-400);
    min-width: 100vw;
    min-height: 100vh;
    /* margin: 24px 64px; */
}

.header .logo img {
    /* height: 32px; */
}

.container {
    width: 100vw;
    min-height: 100vh;
    padding: 16px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}
.header .best-score:before{
    content: url("./assets/images/icon-personal-best.svg");
    display: inline-block;
    width: fit-content;
    height: fit-content;
    padding-right: 6px; 
}

.header .best-score span {
    color: var(--clr-neutral-0);
}
.main-content {
    min-height: 100%;
}
.main-content .current-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.main-content .current-info > p {
    text-align: center;
}

.main-content .current-info > p:nth-child(2){
    padding-left: 24px;
    padding-right: 24px;
    border-left: 1px solid var(--clr-neutral-800);
    border-right: 1px solid var(--clr-neutral-800);
}

.main-content .current-info > p span{
   display: block;
   font-size: 1.425rem; 
   font-weight: var(--ff-bold);
   color: var(--clr-neutral-0);
}

.main-content .difficulty-levels {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content .difficulty-levels p {
    color: var(--clr-neutral-0); 
    min-width: calc(50% - 8px);
    padding: .225em ;
    text-align: center;
    border: 1px solid var(--clr-neutral-500);
    border-radius: 7px;
}

.main-content .difficulty-levels > p:after{
    content: url("./assets/images/icon-down-arrow.svg");
    display: inline-block;
    padding-left: 10px;
}

.main-content .difficulty-levels {
    padding-bottom: 12px; 
    border-bottom: 1px solid var(--clr-neutral-500);
}


.typing-text {
    postion: relative;
    border-bottom: 1px solid var(--clr-neutral-500);
}

.typing-text  .text {
    height: 100%;
    padding: 16px 0;
    line-height: 1.2;
    font-size: 2.25rem;
    filter: blur(6px);
}

.typing-text .start-typing { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: var(--clr-neutral-0);
    text-align: center;
}

.typing-text .start-typing button {
    font-size: 1.3rem;
    padding: 12px 24px; 
    background-color: var(--clr-blue-600);
    color: var(--clr-neutral-0);
    border: 0;
    border-radius: 12px;
    font-weight: var(--ff-medium);
    margin-bottom: 20px;
    cursor: pointer;
}

.typing-text .start-typing button:hover {
    background-color: var(--clr-blue-400);
}

.typing-text .start-typing p {
    font-size: 1.2rem;
    font-weight: var(--ff-medium);
}

